.about
  .about-left
    .left-title
      Мы предлагаем только лучший отдых
    .bus
      .icon
        = image_tag("bus.png")
      .text
        = link_to "Автобусные туры", "#"
        по Европе, отдых на море на лучших курортах туры по Европе,
        = link_to "отдых на море", "#"
        на лучших курортах,
        познавательные авиатуры в новые для вас страны и города, туры выходного дня и многое другое.
    .weare
      .icon
        = image_tag("weare.png")
      .text
        Мы ценим каждого клиента и подходим  максимально досконально и подходим максимально досконально и ответственно к выполнению своих обязательств перед вами.

    .db
      .icon
        = image_tag("db.png")
      .text
        Постоянно обновляемая база туров,  выгодные цены, дисконтная программа, грамотная и оперативная консультация наших менеджеров делает выбор тура легким, удобным и выгодным, а ваше путешествие - незабываемым!
    .card
      = image_tag("card.png")
  .about-right
    .right-title
      Новости компании
    = render partial: 'partials/news'