%ul.europe
  .region-title
    Европа:
  - Country.europe.each do |country|
    %li.country.small_flag
      %span.flag{:country => "#{country.title}-small"}
      .countryName= country.title

.to-left
  %ul.asia
    .region-title
      Азия:
    - Country.asia.each do |country|
      %li.country.small_flag
        %span.flag{:country => "#{country.title}-small"}
        .countryName= country.title

  %ul.africa
    .region-title
      Африка:
    - Country.africa.each do |country|
      %li.country.small_flag
        %span.flag{:country => "#{country.title}-small"}
        .countryName= country.title

.to-left
  %ul.south-america
    .region-title
      Южная Америка:
    - Country.south_america.each do |country|
      %li.country.small_flag
        %span.flag{:country => "#{country.title}-small"}
        .countryName= country.title
  %ul.also
    .region-title
      А также:
    - Country.also.each do |country|
      %li.country.small_flag
        %span.flag{:country => "#{country.title}-small"}
        .countryName= country.title