%ul.europe
  .region-title
    Европа:
  - Country.europe.each do |country|
    %li.country
      %span.flag{:country => "#{country.title}"}
      = link_to "#{country.title}", country_path(country.id)

.to-left
  %ul.asia
    .region-title
      Азия:
    - Country.asia.each do |country|
      %li.country
        %span.flag{:country => "#{country.title}"}
        = link_to "#{country.title}", country_path(country.id)

.to-left
  %ul.south-america
    .region-title
      Южная Америка:
    - Country.south_america.each do |country|
      %li.country
        %span.flag{:country => "#{country.title}"}
        = link_to "#{country.title}", country_path(country.id)
  %ul.also
    .region-title
      А также:
    - Country.also.each do |country|
      %li.country
        %span.flag{:country => "#{country.title}"}
        = link_to "#{country.title}", country_path(country.id)