%ul.europe
  .region-title
    Европа:
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Австрия
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Беларусь
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Бельгия
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Болгария
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Великобритания
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Венгрия
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Германия
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Греция
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Дания
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Испания
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Италия
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Кипр
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Латвия
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Литва
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Нидерланды
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Норвегия
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Польша
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Португалия
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Россия
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Словения
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Украина
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Финляндия
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Франция
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Хорватия
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Черногория
  %li.country
    %span.flag
      = image_tag("blr.png")
    .countryName Эстония
.to-left
  %ul.asia
    .region-title
      Азия:
    %li.country
      %span.flag
        = image_tag("blr.png")
      .countryName Индия
    %li.country
      %span.flag
        = image_tag("blr.png")
      .countryName Индонезия
    %li.country
      %span.flag
        = image_tag("blr.png")
      .countryName Китай
    %li.country
      %span.flag
        = image_tag("blr.png")
      .countryName Тайланд
    %li.country
      %span.flag
        = image_tag("blr.png")
      .countryName Турция
    %li.country
      %span.flag
        = image_tag("blr.png")
      .countryName ОАЭ
  %ul.africa
    .region-title
      Африка:
    %li.country
      %span.flag
        = image_tag("blr.png")
      .countryName Египет
    %li.country
      %span.flag
        = image_tag("blr.png")
      .countryName Тунис

.to-left
  %ul.south-america
    .region-title
      Южная Америка:
    %li.country
      %span.flag
        = image_tag("blr.png")
      .countryName Куба
    %li.country
      %span.flag
        = image_tag("blr.png")
      .countryName Мексика
  %ul.also
    .region-title
      А также:
    %li.country
      %span.flag
        = image_tag("blr.png")
      .countryName Доминикана
    %li.country
      %span.flag
        = image_tag("blr.png")
      .countryName Мальдивы