%ul.europe
  .region-title
    - if Country.europe.length != 0
      Европа:
  - Country.europe.each do |country|
    %li.country.small_flag
      %span.flag{:country => "#{country.title}-small"}
      .countryName= country.title

.to-left
  %ul.asia
    .region-title
      - if Country.asia.length != 0
        Азия:
    - Country.asia.each do |country|
      %li.country.small_flag
        %span.flag{:country => "#{country.title}-small"}
        .countryName= country.title

  %ul.africa
    .region-title
      - if Country.africa.length != 0
        Африка:
    - Country.africa.each do |country|
      %li.country.small_flag
        %span.flag{:country => "#{country.title}-small"}
        .countryName= country.title

.to-left
  %ul.south-america
    .region-title
      - if Country.south_america.length != 0
        Южная Америка:
    - Country.south_america.each do |country|
      %li.country.small_flag
        %span.flag{:country => "#{country.title}-small"}
        .countryName= country.title
  %ul.also
    .region-title
      - if Country.also.length != 0
        А также:
    - Country.also.each do |country|
      %li.country.small_flag
        %span.flag{:country => "#{country.title}-small"}
        .countryName= country.title