%ul.europe
  .region-title
    - if Country.europe.size != 0
      Европа:
  - Country.europe.each do |country|
    %li.country
      %span.flag{:country => "#{country.title}"}
      = link_to "#{country.title}", country_path(country)

.to-left
  %ul.asia
    .region-title
      - if Country.asia.size != 0
        Азия:
    - Country.asia.each do |country|
      %li.country
        %span.flag{:country => "#{country.title}"}
        = link_to "#{country.title}", country_path(country)

.to-left
  %ul.south-america
    .region-title
      - if Country.south_america.size != 0
        Южна  я Америка:
    - Country.south_america.each do |country|
      %li.country
        %span.flag{:country => "#{country.title}"}
        = link_to "#{country.title}", country_path(country)
  %ul.also
    .region-title
      - if Country.also.size != 0
        А т акже:
    - Country.also.each do |country|
      %li.country
        %span.flag{:country => "#{country.title}"}
        = link_to "#{country.title}", country_path(country)