.hits
  %h2.hits-header
    Хиты продаж
  .hits-masonry

    - tours.each_with_index do |tour, idx|


      .hits-item
        .hit-photo
          = link_to(image_tag(tour.teaser.url(:masonry_little)), tour_path(tour))
          - if tour.currency.present?
            .hits-cost
              от
              = "#{tour.price} #{tour.currency.title}"
        .hit-meta
          = link_to tour.title, tour_path(tour), :class => 'hit-title'
          = tour.preview

      - if((idx) == 2)

        .hits-item.center
          .hit-photo
            = link_to(image_tag(tour.teaser.url(:masonry_big)), tour_path(tour))
            - if tour.currency.present?
              .hits-cost.center
                от
                = "#{tour.price} #{tour.currency.title}"
            .center-meta
              .center-title Ближайший автобусный тур
              .center-time
                Отправление
                = time_tag tour.tour_dates.last.date
              = link_to tour.title, tour_path(tour), :class => "center-route"
              .center-shadow