.menu-bottom
  Полный спектр туристических услуг для всей семьи
  .address
    %span= image_tag("map.png")
    = link_to "Минск, пр. Независимости, 28, офис 2", "#"

  .phoneSelectWrapper.container.container.container
    %span.phone-icon
      = image_tag('phone-icon.png')
    %span.number
      = link_to "tel:+375291278606" do
        +375 29
        %span.bold 127 86 06
    %b.caret

    %ul.phoneSelectList
      %li.phoneOption
        %span.number
          %span.type Velcom
      %li.phoneOption
        %span.number
          = link_to "tel:+375291278606" do
            +375 29
            %span.bold 127 86 06
          %span.type МТС
      %li.phoneOption
        %span.number
          = link_to "tel:+375291278606" do
            +375 29
            %span.bold 127 86 06
        %span.number
          = link_to "tel:+375291278606" do
            +375 29
            %span.bold 127 86 06
        %span.number
          = link_to "tel:+375291278606" do
            +375 29
            %span.bold 127 86 06
          %span.type Городские

  .social
    = link_to(image_tag("twitter.png"), "#")
    = link_to(image_tag("fb.png"), "#")
    = link_to(image_tag("vk.png"), "#")