.menu-top
  %ul.menu-nav
    %li.menu-item
      = link_to "Каталог туров", tours_path
    %li.menu-item
      = link_to "Визы", "#"
    %li.menu-item
      = link_to "Путеводитель", travels_path
    %li.menu-item
      = link_to "Страны", countries_path
    %li.menu-item
      = link_to "Контакты", contacts_path