%ul.slider
  %li.slide
    = link_to(image_tag("france.jpg"), "#")
    .caption
      .caption-title
        = link_to "Насладитесь городом света Парижем этим летом!", "#"
      .caption-text
        Цена тура на 29.06 всего 350 евро!

  %li.slide
    = link_to(image_tag("marsell.jpg"), "#")
    .caption
      .caption-title
        = link_to "Насладитесь городом света Парижем этим летом!", "#"
      .caption-text
        Цена тура на 29.06 всего 350 евро!
  %li.slide
    = link_to(image_tag("elisey.jpg"), "#")
    .caption
      .caption-title
        = link_to "Насладитесь городом света Парижем этим летом!", "#"
      .caption-text
        Цена тура на 29.06 всего 350 евро!