%ul.slider
  - newest_tours.each do |tour|
    %li.slide
      = link_to(image_tag(tour.teaser.url(:slider)), tour_path(tour))
      .caption
        .caption-title
          = link_to truncate(raw(tour.preview), :length => 80), tour_path(tour)
        .caption-text
          Цена тура всего
          = "#{tour.price} "
          = tour.currency.title if tour.currency.present?