.travels
  .travels-header
    Путешествия
  .hits-masonry
    .hits-item
      .hit-photo
        = link_to(image_tag("travels-image.png"), "#")
      .hit-meta
        = link_to "Мальдивы от А до Я", "#", :class => 'hit-title'
        Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод

    .hits-item.center
      .hit-photo
        = link_to(image_tag("greece.png"), "#")
        .travels-meta
          .travels-title Страна месяца
          = link_to "Греция", "#", :class => "country-name"
          .travels-hint
            Всем туристам, заказавшим авиа тур  в Грецию в июне, скидка 3%!

    .hits-item
      .hit-photo
        = link_to(image_tag("travels-image.png"), "#")
      .hit-meta
        = link_to "Мальдивы от А до Я", "#", :class => 'hit-title'
        Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод
        Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод

    .hits-item
      .hit-photo
        = link_to(image_tag("travels-image.png"), "#")
      .hit-meta
        = link_to "Мальдивы от А до Я", "#", :class => 'hit-title'
        Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод

    .hits-item
      .hit-photo
        = link_to(image_tag("travels-image.png"), "#")
      .hit-meta
        = link_to "Мальдивы от А до Я", "#", :class => 'hit-title'
        Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод

    .hits-item
      .hit-photo
        = link_to(image_tag("travels-image.png"), "#")
      .hit-meta
        = link_to "Мальдивы от А до Я", "#", :class => 'hit-title'
        Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод
        Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод

    .hits-item
      .hit-photo
        = link_to(image_tag("travels-image.png"), "#")
      .hit-meta
        = link_to "Мальдивы от А до Я", "#", :class => 'hit-title'
        Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод