.header-top-bg
  .header
    .logo
      =link_to(image_tag("logo.png"), root_path)
    .weather

      .weatherSelectWrapper
        %span.phone-icon
        %span.weather1
          Выберите город
        %span.weather2
          Погода
        %b.caret

        %ul.weatherSelectList
          %li.weatherOption
            = text_field_tag "city", "",class: 'weatherInput'
          %li.popularCities
            .popularTitle
              Популярные города:
            %ul.citiesList
              %li.city-wrapper
                .city
                  Мадрид
              %li.city-wrapper
                .city
                  Берлин
              %li.city-wrapper
                .city
                  Лондон
              %li.city-wrapper
                .city
                  Барселона
              %li.city-wrapper
                .city
                  Вена
              %li.city-wrapper
                .city
                  Гамбург
              %li.city-wrapper
                .city
                  Варшава
              %li.city-wrapper
                .city
                  Прага
              %li.city-wrapper
                .city
                  Вильнюс
              %li.city-wrapper
                .city
                  Краков

      .indicator
        =image_tag("weather.png")
      -
      =link_to "Найти туры", "#", :class => "find-tours"
    .money
      .dollars
        %span= image_tag("dollar.png")
        %span.course
          7600 бел. руб.
      .euro
        %span= image_tag("euro.png")
        %span
          11600 бел. руб.

.menu-bg
  %ul.slider
    %li.slide
      = link_to(image_tag("france.jpg"), "#")
      .caption
        .caption-title
          = link_to "Насладитесь городом света Парижем этим летом!", "#"
        .caption-text
          Цена тура на 29.06 всего 350 евро!

    %li.slide
      = link_to(image_tag("marsell.jpg"), "#")
      .caption
        .caption-title
          = link_to "Насладитесь городом света Парижем этим летом!", "#"
        .caption-text
          Цена тура на 29.06 всего 350 евро!
    %li.slide
      = link_to(image_tag("elisey.jpg"), "#")
      .caption
        .caption-title
          = link_to "Насладитесь городом света Парижем этим летом!", "#"
        .caption-text
          Цена тура на 29.06 всего 350 евро!

  .menu
    .menu-top
      %ul.menu-nav
        %li.menu-item
          = link_to "Каталог туров", "#"
        %li.menu-item
          = link_to "Визы", "#"
        %li.menu-item
          = link_to "Путеводитель", "#"
        %li.menu-item
          = link_to "Страны", "#"
        %li.menu-item
          = link_to "Контакты", "#"
    .menu-bottom
      Полный спектр туристических услуг для всей семьи
      .address
        %span= image_tag("map.png")
        = link_to "Минск, пр. Независимости, 28, офис 2", "#"

      .phoneSelectWrapper
        %span.phone-icon
          = image_tag('phone-icon.png')
        %span.number
          +375 29
          %span.bold 127 86 05
        %b.caret

        %ul.phoneSelectList
          %li.phoneOption
            %span.number
              %span.type Velcom
          %li.phoneOption
            %span.number
              +375 29
              %span.bold 127 86 06
              %span.type МТС
          %li.phoneOption
            %span.number
              +375 29
              %span.bold 127 86 07
            %span.number
              +375 29
              %span.bold 127 86 07
            %span.number
              +375 29
              %span.bold 127 86 07
              %span.type Городские

      .social
        = link_to(image_tag("twitter.png"), "#")
        = link_to(image_tag("fb.png"), "#")
        = link_to(image_tag("vk.png"), "#")

.search-bg
  .search
    .search-nav
      .placeSelectWrapper
        %span.place
          Где хотелось бы отдохнуть?
        %b.caret
        %ul.placeSelectList
          .li.countriesWrapper
            %ul.europe
              .region-title
                Европа:
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Австрия
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Беларусь
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Бельгия
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Болгария
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Великобритания
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Венгрия
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Германия
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Греция
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Дания
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Испания
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Италия
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Кипр
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Латвия
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Литва
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Нидерланды
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Норвегия
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Польша
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Португалия
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Россия
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Словения
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Украина
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Финляндия
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Франция
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Хорватия
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Черногория
              %li.country
                %span.flag
                  = image_tag("blr.png")
                .countryName Эстония
            .to-left
              %ul.asia
                .region-title
                  Азия:
                %li.country
                  %span.flag
                    = image_tag("blr.png")
                  .countryName Индия
                %li.country
                  %span.flag
                    = image_tag("blr.png")
                  .countryName Индонезия
                %li.country
                  %span.flag
                    = image_tag("blr.png")
                  .countryName Китай
                %li.country
                  %span.flag
                    = image_tag("blr.png")
                  .countryName Тайланд
                %li.country
                  %span.flag
                    = image_tag("blr.png")
                  .countryName Турция
                %li.country
                  %span.flag
                    = image_tag("blr.png")
                  .countryName ОАЭ
              %ul.africa
                .region-title
                  Африка:
                %li.country
                  %span.flag
                    = image_tag("blr.png")
                  .countryName Египет
                %li.country
                  %span.flag
                    = image_tag("blr.png")
                  .countryName Тунис

            .to-left
              %ul.south-america
                .region-title
                  Южная Америка:
                %li.country
                  %span.flag
                    = image_tag("blr.png")
                  .countryName Куба
                %li.country
                  %span.flag
                    = image_tag("blr.png")
                  .countryName Мексика
              %ul.also
                .region-title
                  А также:
                %li.country
                  %span.flag
                    = image_tag("blr.png")
                  .countryName Доминикана
                %li.country
                  %span.flag
                    = image_tag("blr.png")
                  .countryName Мальдивы


      .dateSelectWrapper
        %span.calendar-icon
        %span.date
          Дата отъезда
        %b.caret
        %ul.dateSelectList
          %li.dateOption
            #datePicker

      #slider-range
        .rangeText

      = link_to "Подобрать варианты", "#", :class => "search-btn"
      = link_to(image_tag("tourtrans.png"), "#", :class => "tourtrans")

.hits-bg
  .hits
    %h2.hits-header
      Хиты продаж
    .hits-masonry
      .hits-item
        .hit-photo
          = link_to(image_tag("hit-image.png"), "#")
          .hits-cost
            от 45$
        .hit-meta
          = link_to "Отдых в Затоке —  пансионат «Рута»", root_path, :class => 'hit-title'
          Хороший экономичный  вариант для летнего отдыха на море! Хороший экономичный  вариант для летнего отдыха на море!


      .hits-item
        .hit-photo
          = link_to(image_tag("hit-image.png"), "#")
          .hits-cost
            от 459$
        .hit-meta
          = link_to "Отдых в Затоке —  пансионат «Рута»", "#", :class => 'hit-title'
          Хороший экономичный  вариант для летнего отдыха на море! Хороший экономичный  вариант для летнего отдыха на море!

      .hits-item
        .hit-photo
          = link_to(image_tag("hit-image.png"), "#")
          .hits-cost
            от 459$
        .hit-meta
          = link_to "Отдых в Затоке —  пансионат «Рута»", "#", :class => 'hit-title'
          Хороший экономичный  вариант для летнего отдыха на море! Хороший экономичный  вариант для летнего отдыха на море!

      .hits-item
        .hit-photo
          = link_to(image_tag("hit-image.png"), "#")
          .hits-cost
            от 459$
        .hit-meta
          = link_to "Отдых в Затоке —  пансионат «Рута»", "#", :class => 'hit-title'
          Хороший экономичный  вариант для летнего отдыха на море! Хороший экономичный  вариант для летнего отдыха на море!
          Хороший экономичный  вариант для летнего отдыха на море! Хороший экономичный  вариант для летнего отдыха на море!
          Хороший экономичный  вариант для летнего отдыха на море! Хороший экономичный  вариант для летнего отдыха на море!


      .hits-item
        .hit-photo
          = link_to(image_tag("hit-image.png"), "#")
          .hits-cost
            от 459$
        .hit-meta
          = link_to "Отдых в Затоке —  пансионат «Рута»", "#", :class => 'hit-title'
          Хороший экономичный  вариант для летнего отдыха на море! Хороший экономичный  вариант для летнего отдыха на море!
          Хороший экономичный  вариант для летнего отдыха на море!

      .hits-item.center
        .hit-photo
          = link_to(image_tag("france.jpg"), "#")
          .hits-cost.center
            от 459$
          .center-meta
            .center-title Ближайший автобусный тур
            .center-time Франция, отправление 23 июня
            = link_to "Берлин – Амстердам – Париж (2 дня) - Версаль - Ницца - Монако - Венеция", "#", :class => "center-route"
            .center-shadow

      .hits-item
        .hit-photo
          = link_to(image_tag("hit-image.png"), "#")
          .hits-cost
            от 459$
        .hit-meta
          = link_to "Отдых в Затоке —  пансионат «Рута»", "#", :class => 'hit-title'
          Хороший экономичный  вариант для летнего отдыха на море! Хороший экономичный  вариант для летнего отдыха на море!

      .hits-item
        .hit-photo
          = link_to(image_tag("hit-image.png"), "#")
          .hits-cost
            от 459$
        .hit-meta
          = link_to "Отдых в Затоке —  пансионат «Рута»", "#", :class => 'hit-title'
          Хороший экономичный  вариант для летнего отдыха на море! Хороший экономичный  вариант для летнего отдыха на море!

      .hits-item
        .hit-photo
          = link_to(image_tag("hit-image.png"), "#")
          .hits-cost
            от 459$
        .hit-meta
          = link_to "Отдых в Затоке —  пансионат «Рута»", "#", :class => 'hit-title'
          Хороший экономичный  вариант для летнего отдыха на море! Хороший экономичный  вариант для летнего отдыха на море!

      .hits-item
        .hit-photo
          = link_to(image_tag("hit-image.png"), "#")
          .hits-cost
            от 459$
        .hit-meta
          = link_to "Отдых в Затоке —  пансионат «Рута»", "#", :class => 'hit-title'
          Хороший экономичный  вариант для летнего отдыха на море! Хороший экономичный  вариант для летнего отдыха на море!

      .hits-item
        .hit-photo
          = link_to(image_tag("hit-image.png"), "#")
          .hits-cost
            от 459$
        .hit-meta
          = link_to "Отдых в Затоке —  пансионат «Рута»", "#", :class => 'hit-title'
          Хороший экономичный  вариант для летнего отдыха на море! Хороший экономичный  вариант для летнего отдыха на море!

.about-bg
  .about
    .about-left
      .left-title
        Мы предлагаем только лучший отдых
      .bus
        .icon
          = image_tag("bus.png")
        .text
          = link_to "Автобусные туры", "#"
          по Европе, отдых на море на лучших курортах туры по Европе,
          = link_to "отдых на море", "#"
          на лучших курортах,
          познавательные авиатуры в новые для вас страны и города, туры выходного дня и многое другое.
      .weare
        .icon
          = image_tag("weare.png")
        .text
          Мы ценим каждого клиента и подходим  максимально досконально и подходим максимально досконально и ответственно к выполнению своих обязательств перед вами.

      .db
        .icon
          = image_tag("db.png")
        .text
          Постоянно обновляемая база туров,  выгодные цены, дисконтная программа, грамотная и оперативная консультация наших менеджеров делает выбор тура легким, удобным и выгодным, а ваше путешествие - незабываемым!
      .card
        = image_tag("card.png")
    .about-right
      .right-title
        Новости компании
      %ul.news-list
        %li.news-item
          = link_to "Изменение графика работы 29.06.2013", "#", :class => "news-link"
          .news-date
            23 июня
        %li.news-item
          = link_to "Посольство Франции  прекращает выдачу виз в Испанию", "#", :class => "news-link"
          .news-date
            21 июня
        %li.news-item
          = link_to "Изменение графика работы 29.06.2013", "#", :class => "news-link"
          .news-date
            23 июня
        %li.news-item
          = link_to "Изменение графика работы 29.06.2013", "#", :class => "news-link"
          .news-date
            23 июня
        %li.news-item.all-news
          = link_to "Все новости", "#", :class => "news-link"



.travels-bg
  .travels
    .travels-header
      Путешествия
    .hits-masonry
      .hits-item
        .hit-photo
          = link_to(image_tag("travels-image.png"), "#")
        .hit-meta
          = link_to "Мальдивы от А до Я", "#", :class => 'hit-title'
          Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод

      .hits-item.center
        .hit-photo
          = link_to(image_tag("greece.png"), "#")
          .travels-meta
            .travels-title Страна месяца
            = link_to "Греция", "#", :class => "country-name"
            .travels-hint
              Всем туристам, заказавшим авиа тур  в Грецию в июне, скидка 3%!

      .hits-item
        .hit-photo
          = link_to(image_tag("travels-image.png"), "#")
        .hit-meta
          = link_to "Мальдивы от А до Я", "#", :class => 'hit-title'
          Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод
          Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод

      .hits-item
        .hit-photo
          = link_to(image_tag("travels-image.png"), "#")
        .hit-meta
          = link_to "Мальдивы от А до Я", "#", :class => 'hit-title'
          Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод

      .hits-item
        .hit-photo
          = link_to(image_tag("travels-image.png"), "#")
        .hit-meta
          = link_to "Мальдивы от А до Я", "#", :class => 'hit-title'
          Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод

      .hits-item
        .hit-photo
          = link_to(image_tag("travels-image.png"), "#")
        .hit-meta
          = link_to "Мальдивы от А до Я", "#", :class => 'hit-title'
          Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод
          Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод

      .hits-item
        .hit-photo
          = link_to(image_tag("travels-image.png"), "#")
        .hit-meta
          = link_to "Мальдивы от А до Я", "#", :class => 'hit-title'
          Мальдивские острова,  известные «резиденты»  экваториальных вод Мальдивские острова,  известные «резиденты»  экваториальных вод
  .countries-line
  .countries
    .countries-title
      Страны
    %ul.europe
      .region-title
        Европа:
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Австрия", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Беларусь", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Бельгия", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Болгария", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Великобритания", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Венгрия", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Германия", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Греция", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Дания", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Испания", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Италия", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Кипр", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Латвия", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Литва", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Нидерланды", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Норвегия", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Польша", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Португалия", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Россия", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Словения", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Украина", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Финляндия", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Франция", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Хорватия", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Черногория", "#"
      %li.country
        %span.flag
          = image_tag("blr_big.png")
        = link_to "Эстония", "#"



    .to-left
      %ul.asia
        .region-title
          Азия:
        %li.country
          %span.flag
            = image_tag("blr_big.png")
          = link_to "Индия", "#"
        %li.country
          %span.flag
            = image_tag("blr_big.png")
          = link_to "Индонезия", "#"
        %li.country
          %span.flag
            = image_tag("blr_big.png")
          = link_to "Китай", "#"
        %li.country
          %span.flag
            = image_tag("blr_big.png")
          = link_to "Тайланд", "#"
        %li.country
          %span.flag
            = image_tag("blr_big.png")
          = link_to "Турция", "#"
        %li.country
          %span.flag
            = image_tag("blr_big.png")
          = link_to "ОАЭ", "#"
      %ul.africa
        .region-title
          Африка:
        %li.country
          %span.flag
            = image_tag("blr_big.png")
          = link_to "Египет", "#"
        %li.country
          %span.flag
            = image_tag("blr_big.png")
          = link_to "Тунис", "#"

    .to-left
      %ul.south-america
        .region-title
          Южная Америка:
        %li.country
          %span.flag
            = image_tag("blr_big.png")
          = link_to "Куба", "#"
        %li.country
          %span.flag
            = image_tag("blr_big.png")
          = link_to "Мексика", "#"
      %ul.also
        .region-title
          А также:
        %li.country
          %span.flag
            = image_tag("blr_big.png")
          = link_to "Доминикана", "#"
        %li.country
          %span.flag
            = image_tag("blr_big.png")
          = link_to "Мальдивы", "#"

.footer-bg
  .footer
    .footer-left
      .ft-title
        Приезжайте, звоните, пишите
      .ft-address
        Минск, пр. Независимости, 28, офис 2
      %ul.ft-phones
        %li
          +375 (33) 328 38 08
          .type Городской
        %li
          +375 (33) 328 38 08
          .type Velcom
        %li
          +375 (33) 328 38 08
          .type МТС
      .ft-contacts
        .ft-mail
          <a href="mailto:hello@panda-travel.by">hello@panda-travel.by</a>
        .ft-skype
          %span= image_tag("skype.png")
          panda-travel.by
      .ft-logo
        = link_to(image_tag("ft-logo.png"), root_path)
        %span.credits
          ЧТУП "Панда Трэвел" УНП 191675650
    %ul.footer-links
      %li= link_to "Каталог туров", "#"
      %li= link_to "Визы", "#"
      %li= link_to "Страны", "#"
      %li= link_to "Путешествия", "#"
      %li= link_to "Контакты", "#"

    %ul.footer-features
      %li= link_to "Экскурсионные автобусные туры", "#"
      %li= link_to "Экскурсионные туры с отдыхом на море", "#"
      %li= link_to "Страны", "#"
      %li= link_to "Путешествия", "#"
      %li= link_to "Контакты", "#"
























