.menu-bg
  = render partial: 'partials/slider'

  .menu
    = render partial: 'partials/menu_top'
    = render partial: 'partials/menu_bottom'

.search-bg
  = render partial: 'partials/search'
.hits-bg
  = render partial: 'partials/hits'
.about-bg
  = render partial: 'partials/about'
.travels-bg
  = render partial: 'partials/travels'
  .countries-line
  .countries
    .countries-title
      Страны
    = render partial: 'partials/countries'