.menu-bg.contacts-menu-bg
  .menu
    = render partial: 'partials/menu_top'
    = render partial: 'partials/menu_bottom'
.search-bg.tours-search-bg
  .search
    .tour-search-header
      Экскурсионные автобусные туры
    = render partial: 'partials/search'
.tours-list-bg
  .tours-list
    %ul.tl

      - @tours.each do |tour|

        %li.tl-item
          .tl-thumb
            = image_tag("tour_thumb.png")
          .tl-body
            .tl-title
              = link_to "#{tour.title}", tour_path(tour)
            .tl-dates
              - tour.tour_dates.each do |date|
                .date-item
                  = time_tag(date.date) if date.date.present?
          .tl-cost
            415
            %span €
    .tl-news
      = render partial: 'partials/news'
      .hits-item.center
        .hit-photo
          = link_to(image_tag("greece.png"), "#")
          .travels-meta
            .travels-title Страна месяца
            = link_to "Греция", "#", :class => "country-name"
            .travels-hint
              Всем туристам, заказавшим авиа тур  в Грецию в июне, скидка 3%!
  .countries
    .countries-title
      Страны
    = render partial: 'partials/countries'
















