= render :partial => "partials/new_order_popup"
.menu-bg.contacts-menu-bg.c
  .menu
    = render partial: 'partials/menu_top'
    = render partial: 'partials/menu_bottom'
.show-tour-bg
  .show-tour
    .show-main
      .show-tour-title
        = @tour.title

      - if @tour_galleries.present?
        .show-tour-slider
          %ul.slider2
            - @tour_galleries.each do |gallery|
              %li.tour-slide
                - if gallery.video_url.present?
                  = video_embed(gallery.video_url, 670, 405)
                - else
                  = link_to(image_tag(gallery.source.url(:slider_big)), "#")
                .tour-slider-title
                  = gallery.title
          #bx-pager
            - @tour_galleries.each do |gallery|
              %a{"data-slide-index" => "#{@slider_counter+=1}", :href => ""}
                .pager-thumb
                  - if gallery.video_url.present?
                    = video_thumb(gallery.video_url, "small")
                  - else
                    = image_tag(gallery.source.url(:slider_thumb))

      - if @tour_days.present?
        %ul.show-tour-days
          %li.days-item.first-item
            .day-number.first
              Дни
            .day-description.first
              Программа тура

          - @tour_days.each do |day|
            %li.days-item
              .day-number
                .number-bg= day.number
              .day-description= day.overview.html_safe

        .tour-links
          .roadmap
            %span= image_tag('roadmap.png')
            = link_to "Маршрут на карте", "#"
          .tour-pdf
            %span= image_tag('compass.png')
            = link_to "Скачать программу тура", "#"
            %span.pdf-meta
              PDF, 2MB

      .buy-block
        .base-cost
          .title
            Базовая стоимость:
          .cost
            = "#{@tour.price}"
            = @tour.currency.title if @tour.currency.present?
        - if @tour.special_price.present?
          .special-cost
            .title
              = "#{@tour.special_price_comment}:"
            .cost
              = "#{@tour.special_price} "
              = @tour.currency.title if @tour.currency.present?
        .buy-btn
          = link_to "Заказать тур", new_tour_order_path(@tour), :class => 'btn btn-success', :remote => true
      .markdown-tour


      .markdown-tour
        = markdown @tour.overview
        / # = render partial: 'partials/tour_overview_example'
      .undermap
        = render partial: 'partials/share'
        .print-page
          %span.print-icon
          = link_to 'Распечатать страницу', "#"

    .show-sidebar
      .side-buy-block
        .base-cost
          .title
            Базовая стоимость:
          .cost
            = "#{@tour.price} "
            = @tour.currency.title if @tour.currency.present?
          - if @tour.special_price.present?
            .special-cost
              .title
                = "#{@tour.special_price_comment}:"
            .cost
              = "#{@tour.special_price} "
              = @tour.currency.title if @tour.currency.present?
        .buy-btn
          = link_to "Заказать тур", new_tour_order_path(@tour), :class => 'btn btn-success', :remote => true
      .side-country-block
        - if @tour_countries.present?
          %ul
            .title
              Страны:
            - @tour_countries.each do |country|
              %li.country

                %span.flag{:country => "#{country.title}-small"}
                .countryName= link_to country.title, country_path(country)

      - if @tour_dates.present?
        .side-dates-block
          .dates-title
            Даты выездов:
          %ul.tour-dates-list
            - @tour_dates.each do |date|
              / %li.td-season
              /   Лето 2013
              %li.td-item
                = time_tag date.date if date.date.present?
      .links-dates-block
        .tour-links
          - if @tour.visas.present?
            .visa
              %span= image_tag('visa.png')
              = link_to "Визовые документы", visas_tour_path(@tour), :target => "_blank"
          .roadmap
            %span= image_tag('roadmap.png')
            = link_to "Маршрут на карте", "#"
          .tour-pdf
            %span= image_tag('compass.png')
            = link_to "Скачать программу тура", "#"
            %span.pdf-meta
              PDF, 2MB
        .print-page
          %span.print-icon
          = link_to 'Распечатать страницу', "#"

      #catcher
      #sticky
        #catcher
        .side-manager-block
          .manager-title
            %span.greetings
              Знакомьтесь,
            Евгения Петрова
          .manager-meta
            Менеджер этого тура
          .manager-photo
            .circular
              = image_tag('octocat1.png')
          .manager-contacts
            .manager-phone
              %span.number
                <a href="tel:+375291278606">+375 29 <span class="bold">127 86 06</span></a>
            .manager-skype
              <a href="skype:evg.petrova?call">evg.petrova</a>
            .manager-mail
              <a href="mailto:evg@panda-travel.by">evg@panda-travel.by</a>
        - if @tours_history.present?
          .side-history-block
            .history-title
              Вы смотрели:
            %ul.tl.mini-list
              - @tours_history.each do |tour|

                %li.tl-item.mini-item
                  .tl-thumb
                    - if tour.teaser.present?
                      = image_tag(tour.teaser.url(:thumb))
                  .tl-body
                    = link_to tour.title, tour_path(tour)
                    %br
                    .tl-cost
                      = "#{tour.price} "
                      = @tour.currency.title if @tour.currency.present?
#footer.new-tours-bg
  .new-tours
    .new-tours-header
      Смотрите также
    = render partial: 'partials/slider', locals: { :newest_tours => @newest_tours }
    .countries
      .countries-title
        Страны
      = render partial: 'partials/countries'
