.menu-bg.contacts-menu-bg
  .menu
    = render partial: 'partials/menu_top'
    = render partial: 'partials/menu_bottom'
  .countries
    .countries-title
      Страны
    = render partial: 'partials/countries'
  .countries-line
.hits-bg
  = render partial: 'partials/hits'
.about-bg
  = render partial: 'partials/about'
.travels-bg
  = render partial: 'partials/travels'