.menu-bg.contacts-menu-bg
  .menu
    = render partial: 'partials/menu_top'
    = render partial: 'partials/menu_bottom'
.country-bg
  .country-show
    .country-tabs
      .tabs-title
        = @country.title
      #tab-container.tab-container
        %ul.etabs
          %li.tab
            %a{:href => "#info"} Информация о стране
          %li.tab
            %a{:href => "#tours"} Туры
            %span.tours-count
              12
          %li.tab
            %a{:href => "#visas"} Визы
        .panel-container
          #info
            = raw @country.overview
          #tours
            .tours-list
              %ul.tl
                %li.tl-item
                  .tl-thumb
                    = image_tag("tour_thumb.png")
                  .tl-body
                    .tl-title
                      = link_to "Берлин – Амстердам – Париж (3 дня) – Фонтенбло* –  Прага – Вена", "#"
                    .tl-dates
                      .date-item
                        27 июня 2013
                      .date-item
                        27 июня 2013
                  .tl-cost
                    415
                    %span €
                %li.tl-item
                  .tl-thumb
                    = image_tag("tour_thumb.png")
                  .tl-body
                    .tl-title
                      = link_to "Берлин – Амстердам – Париж (3 дня) – Фонтенбло* –  Прага – Вена Берлин – Амстердам – Париж (3 дня) – Фонтенбло* –  Прага – Вена", "#"
                    .tl-dates
                      .date-item
                        27 июня 2013
                      .date-item
                        27 июня 2013
                  .tl-cost
                    415
                    %span €
          #visas
            %h2 CSS Styles for these tabs
        .undermap
          = render partial: 'partials/share'
          .print-page
            %span.print-icon
            = link_to 'Распечатать страницу', "#"


    .tl-news
      = render partial: 'partials/news'
      .hits-item.center
        .hit-photo
          = link_to(image_tag("greece.png"), "#")
          .travels-meta
            .travels-title Страна месяца
            = link_to "Греция", "#", :class => "country-name"
            .travels-hint
              Всем туристам, заказавшим авиа тур  в Грецию в июне, скидка 3%!
.new-tours-bg
  .new-tours
    .new-tours-header
      Смотрите также
    = render partial: 'partials/slider'
    .countries
      .countries-title
        Страны
      = render partial: 'partials/countries'