.menu-bg.contacts-menu-bg.c
  .menu
    = render partial: 'partials/menu_top'
    = render partial: 'partials/menu_bottom'
.country-bg
  .country-show
    .country-tabs
      .tabs-title
        = @country.title
      #tab-container.tab-container
        %ul.etabs
          %li.tab
            %a{:href => "#tours"} Туры
            %span.tours-count
              = @country.tours.size
          %li.tab
            %a{:href => "#info"} Информация о стране
          %li.tab
            %a{:href => "#visas"} Визы
        .panel-container
          #tours
            - if @country.tours.present?
              .tours-list
                %ul.tl
                  - @country.tours.each do |tour|
                    %li.tl-item
                      .tl-thumb
                        - if tour.galleries.present?
                          = image_tag(tour.galleries.first.source(:thumb))
                      .tl-body
                        .tl-title
                          = link_to tour.title, tour_path(tour)
                        - if tour.tour_dates.present?
                          .tl-dates
                            - tour.tour_dates.each do |date|
                              .date-item
                                = time_tag date.date
                      .tl-cost
                        415
                        %span €
          #info.markdown-country
            = markdown @country.overview
          #visas
            %h2 CSS Styles for these tabs
        .undermap
          = render partial: 'partials/share'
          .print-page
            %span.print-icon
            = link_to 'Распечатать страницу', "#"


    .tl-news
      = render partial: 'partials/news', locals: { :news => @news }
      .hits-item.center
        .hit-photo
          = image_tag(@month_country.teaser.url(:masonry_little))
          .travels-meta
            .travels-title Страна месяца
            = link_to @month_country.title, country_path(@month_country), :class => "country-name"
            .travels-hint
              = raw @month_country.month_preview
.new-tours-bg
  .new-tours
    .new-tours-header
      Смотрите также
    = render partial: 'partials/slider', locals: { :newest_tours => @newest_tours }
    .countries
      .countries-title
        Страны
      = render partial: 'partials/countries'