.footer-bg
  .footer
    .footer-left
      .ft-title
        Приезжайте, звоните, пишите
      .ft-address
        Минск, пр. Независимости, 28, офис 2
      %ul.ft-phones
        %li
          = link_to "+375 (33) 328 38 08", "tel:+375333283808"
          .type Городской
        %li
          = link_to "+375 (33) 328 38 08", "tel:+375333283808"
          .type Velcom
        %li
          = link_to "+375 (33) 328 38 08", "tel:+375333283808"
          .type МТС
      .ft-contacts
        .ft-mail
          <a href="mailto:hello@panda-travel.by">hello@panda-travel.by</a>
        .ft-skype
          %span= image_tag("skype.png")
          <a href="skype:panda-travel?call">panda-travel.by</a>
      .ft-logo
        = link_to(image_tag("ft-logo.png"), root_path)
        %span.credits
          ЧТУП "Панда Трэвел" УНП 191675650
    %ul.footer-links
      %li= link_to "Каталог туров", tours_path
      %li= link_to "Визы", "#"
      %li= link_to "Страны", countries_path
      %li= link_to "Путешествия", travels_path
      %li= link_to "Контакты", contacts_path

    %ul.footer-features
      - TypeOfHoliday.all.each do |item|
        %li= link_to item.title, type_of_holiday_path(item)
